body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 32px;
    
}

.World-Time {
    font-size: 128px;
    padding: 3px;
    display: inline;
    border: 1px solid white;
    padding: 5%;
}

.TopUI {
    float: inline-end;
}