body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 32px;
}

.World-Time {
    font-size: 128px;
}

.TopUI {
    float: inline-end;
}