main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url("./../../assets/images/UnfoldedRedJaguarundi-max-1mb.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  height: inherit;
  /* overflow: hidden; */
}

h1 {
  font-size: calc(16px + 100vw/64);
}

p {
  font-size: calc(14px + 100vw/64);
  margin-bottom: 100px;
  margin-top: 0;
}

.Front-Background {
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  /* padding: calc(1em + 100vw/64); */
  opacity: 0.8;
}

.World-Time {
  font-size: calc(48px + 100vw/50);
  /* width: 100%; */
  border: 1px solid white;
}

.TopUI {
  position: fixed;
  top: 0;
  right: 0;
}

.TopUI button {
  margin-right: 10px;
  margin-top: 10px;
  padding: calc(5px + 100vw/64) calc(10px + 100vh/64); /* 14px 40px */
  font-size: calc(8px 100vw/50);
  /* height: inherit; */
}

.Continue-Project {
  margin-top: 40px;
}

.Pop-up {
  width: 50%;
  height: 60%;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  padding: 0 30px 30px;
  background-color: white;
  color: black;
  visibility: hidden;
}

.open-Pop-up {
  visibility: visible;
}

.Main-Buttons {
  margin-top: 5vh;
}

.Main-Buttons button {
  font-size: 18px;
}

#New-Project {
  margin-right: 20px;
  padding: 20px;
}

#Continue-Project {
  padding: 20px;
}

#Time-Remaining {
  padding-top: 50px;
  font-size: 64px;
}
