#Login {
    width: fit-content;
    height: fit-content;
    padding: calc(45px + 100vw/150);
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#Login h1 {
    width: 100%;
    font-size: 32px;
    text-align: center;
}

#Login p {
    font-size: 18px;
    margin-left: 0;
}

#Login input {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

#Login button {
    height: 40px;
    width: 100%;
    margin: 10px 0 10px;
}